.nav-item {
  margin: 0.3rem;
  border-radius: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  cursor: pointer;

  & > * {
    padding: 0.3rem 0.4rem;
  }

  &:hover {
    color: var(--text-on-hover);
    background-color: var(--card-bg-color);
  }
}
