.upper-bar {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 4rem;
}

.button {
  font-size: 1rem;
  padding: 0.3rem 0.4rem;
  border-radius: 0.2rem;
  transition: color 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: background-color 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);

  &:hover {
    color: var(--dialog-btn-color);
    background-color: var(--dialog-btn-bg);
  }
}

.resume-button {
  padding: 0.3rem 0.4rem;
}

.image {
  min-width: 800px;
}
