@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* THEME COLORS */

html.light {
  --main-bg-color: white;
  --card-bg-color: #e8e8e8;
  --foo-bg-color: #ececec;
  --foo-color: #262525;
  --btn-bg-on-hover: rgb(221, 219, 219);

  --font-color: black;
  --text-on-hover: #3206b6;
  --accent-color: #ff612b;
  --accent-color-dimmed: #f04e19;

  --toggle-theme-icon-color: #3206b6;
  --dialog-btn-bg: rgb(221, 219, 219);
  --dialog-btn-color: #3206b6;
}

html.dark {
  --main-bg-color: black;
  --card-bg-color: #2d2d2d;
  --foo-color: #b8b4b4;
  --foo-bg-color: #1a1919;
  --btn-bg-on-hover: rgb(32, 31, 31);

  --font-color: white;
  --text-on-hover: #8862f8;
  --accent-color: #ff5c23;
  --accent-color-dimmed: #ce4716;

  --toggle-theme-icon-color: yellow;
  --dialog-btn-bg: rgb(221, 219, 219);
  --dialog-btn-color: #3206b6;
}

/* THEME COLORS */

/* CSS RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

li {
  margin: 0;
}

button {
  border: none;
  background: transparent;
  color: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

/* CSS RESET */

/* TODO: add more structure to beneath code and remove 70vh */

html {
  font-family: 'Inter', sans-serif;
  background-color: var(--main-bg-color);
  color: var(--font-color);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Merriweather Sans', sans-serif;
}

main {
  height: 70vh;
  max-width: 1000px;
  margin: 0 auto;
}
