footer {
  background-color: black;
  padding-top: 1rem;
}

.main-footer {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  justify-content: space-around;
  padding: 1rem 0;
  border-bottom: 1px solid grey;
}

.footer-column {
  margin: 0 1rem;
}

.socials {
  display: flex;
  margin: 1rem 0;
}

.footer-column ul li {
  margin: 0.2rem;
}

.footer-column h4 {
  margin-bottom: 1rem;
}

.sub-footer ul {
  display: flex;
  justify-content: center;
}

li {
  margin: 1rem;
}

@media screen and (max-width: 600px) {
  .main-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
  }
}
