nav {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.upper-navbar {
  display: flex;
  justify-content: space-between;
}

.settings {
  display: flex;
}

.settings-item {
  padding: 0.2rem;
  margin: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fullname {
  padding: 0.2rem;
  margin: 0.3rem;
}

.navigation {
  display: flex;
}

.navigation-responsive {
  display: none;
}

.nav-item {
  padding: 0.2rem;
  margin: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-theme-button {
  border: none;
  background: transparent;
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.drawer-button {
  display: none;
  z-index: 10;
}

.icon {
  font-size: 1.3rem;
}

.avatar {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  margin: 0.3rem;
}

.avatar-fullname {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .settings-item {
    padding: 0.2rem;
    margin: 0.3rem;
    font-size: 1.3rem;
  }

  .icon {
    font-size: 1.5rem;
  }

  .navigation-responsive {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: grey;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
  }

  .drawer-button {
    display: block;
  }

  .navigation {
    display: none;
  }
}
