footer {
  background-color: var(--foo-bg-color);
  color: var(--foo-color);
  padding-top: 1rem;
  line-height: 2;
  font-size: 0.9rem;
}

.main-footer {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  justify-content: space-around;
  padding: 1rem 0;
}

.footer-column {
  margin: 0 1rem;
}

.footer-column h4 {
  margin-bottom: 1rem;
}

.motto {
  max-width: 300px;
  margin-bottom: 2rem;
  margin: 0.5rem;
}

.link:hover {
  text-decoration: underline;
  color: var(--text-on-hover);
}

.sub-container {
  display: flex;
  justify-content: space-evenly;
  max-width: 500px;
  margin: 0 auto;
  padding: 0.6rem;
}

.sub-footer {
  border-top: 1px solid grey;
}

.sub-item:hover {
  text-decoration: underline;
  color: var(--text-on-hover);
  cursor: pointer;
}

.sub-item {
  font-size: 0.9rem;
}

.copyright {
  font-size: 0.9rem;
}

@media screen and (max-width: 600px) {
  .main-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
  }
}
