.socials {
  display: flex;
}

.socials-item {
  margin: 0.2rem;
  font-size: 1.3rem;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: color 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: background-color 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);

  & > * {
    color: inherit;
  }

  &:hover {
    color: var(--text-on-hover);
    background-color: var(--card-bg-color);
  }
}

.socials-item-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

#hashnode {
  font-size: 1.2rem;
}

@media screen and (max-width: 600px) {
  .socials-item {
    font-size: 1.5rem;
  }

  #hashnode {
    font-size: 1.5rem;
  }
}
