.toggle-theme-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  font-size: 1.3rem;
  color: var(--toggle-theme-icon-color);
}

.icon-animate {
  animation: zoomIn 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.icon-wrapper {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  transition: color 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: background-color 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: var(--card-bg-color);
  }
}

@keyframes zoomIn {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}
